@page "/"
@inherits ComponentBase

@using Demo.Net.Blazor.Shared.Controls

<PageTitle>Index</PageTitle>

<ListBox TItem="Person" ItemSource="@People" SelectionChanged=@OnSelectionChanged>
    @*<ItemTemplate>
        <label>@($"{context.Title} {context.Name}")</label><br />
    </ItemTemplate>*@
</ListBox>

