@using Demo.Net.Blazor.App.Data
@inherits ComponentBase

<div class="page">

	<div class="sidebar">
		<h2 class="text-danger">Demo</h2>
		<button class="btn btn-primary" @onclick="NavigateToWorkspace">Click me</button>
	</div>

	<main>
		<article class="content px-4">

			@if (Workspace != null)
			{
				<DynamicComponent Type="@Workspace?.Type" Parameters="@Workspace?.Parameters" />
			}

		</article>
	</main>
</div>
